.share_container
    span(class='st_twitter_hcount' displayText='Tweet')
    span(class='st_facebook_hcount' displayText='Facebook')
    span(class='st_vkontakte_hcount' displayText='Vkontakte')
    span(class='st_googleplus_hcount' displayText='Google +')
  script(type="text/javascript" src="http://w.sharethis.com/button/buttons.js")
  script.
    stLight.options({
      publisher: "b6795319-0a18-4703-b5ce-6fa4ef6b0514",
      doNotHash: false, doNotCopy: false, hashAddressBar: false});